<phpunit bootstrap="travis-splint-0.0.3/index.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	verbose="true">
	<testsuites>
		<testsuite name="My Test Suite">
			<file>travis-splint-0.0.3/application/splints/francis94c/blog/unit_tests/BlogTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>
