<phpunit bootstrap="travis-splint-0.0.2/index.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	verbose="true"
	testdox="true">
	<testsuites>
		<testsuite name="Blog Test Suite">
			<file>travis-splint-0.0.2/application/splints/francis94c/blog/unit_tests/BlogTest.php</file>
		</testsuite>
	</testsuites>
	<logging>
		<log type="coverage-clover" target="./build/logs/clover.xml"/>
	</logging>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./travis-splint-0.0.2/application/splints/francis94c/blog</directory>
			<exclude>
				<file>travis-splint-0.0.2/application/splints/francis94c/blog/unit_tests/BlogTest.php</file>
				<directory suffix=".php">./travis-splint-0.0.2/application/splints/francis94c/blog/tests</directory>
				<directory suffix=".php">./travis-splint-0.0.2/application/splints/francis94c/blog/views</directory>
				<directory suffix=".php">./travis-splint-0.0.2/application/splints/francis94c/blog/unit_tests/views</directory>
			</exclude>
		</whitelist>
  </filter>
</phpunit>
